h3 {
    color:blue;
}

#sum {
    padding-bottom: 30px;
}

#smallDrink {
    display:inline-block;
}

#mediumDrink {
    display:inline-block;
}

#largeDrink {
    display:inline-block;
}

