h3 {
    color:blue;
}

.button {
    margin-bottom: 5px;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ed7a07;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #977b5d;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

#oshi {
    padding-top: 20px;
}

#noTaxSum {
    padding-bottom: 10px;   
}

#sumCard {
    padding-bottom: 30px;
}

#one, #two, #three, #four {
    display:inline-block;
}

#firstSet, #secondSet, #thirdSet, #fourthSet, #fifthSet {
    display:inline-block;
}

#smallDrink, #mediumDrink, #largeDrink {
    display:inline-block;
}

#syanmerry, #cafepa, #orishan, #mavam, #angel {
    display:inline-block;
}

#food {
    display:inline-block;
}

#photo {
    display:inline-block;
}

#money {
    padding-top: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}

#reset {
    padding-top: 30px;
}

#selectMenu {
    padding-top: 20px;
}

.hidden {
    display: none;
}

#test {
    padding-top: 30px;
}